* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header {
    display: flex;
    background-color: #1F2937;
		padding: 5px 150px;
}

.header-logo {
  min-width: 150px;
}

.header-logo p {
    font-size: 20px;
    color: #F9FAF8;
}

.header-links-container {
	display: flex;
	align-items: center;
}

.header-link-text {
	min-width: 110px;
	text-align: right;
  font-size: 12px;
  color: #E5E7EB;
}

/* Banner */

.banner {
    display: flex;
    background-color: #1F2937;
    padding: 60px 150px;
}

.banner-info {
    padding-right: 30px;
}

.banner-info h1 {
    font-size: 38px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.banner-info p {
    font-size: 14px;
    color: #E5E7EB;
    margin: 2px;
}

.banner-info button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
}

.banner-image {
	display: flex;
	align-items: center;
	min-width: 220px;
	max-width: 450px;
}

.bigSurImage {
	display: block;
	width: 100%;
}

@media screen and (max-width: 600px) {
	header {
		padding: 10px 0px 0px 0px;
		flex-direction: column;
	}

	.header-logo {
		text-align: center;
	}

	.header-links-container {
		flex-direction: column;
		padding: 10px 0px 0px 0px;
	}

	.header-link-text {
		text-align: center;
		padding: 5px;
	}

	.banner {
		flex-direction: column;
		padding: 0px 25px 15px 25px;
	}
	
	.banner-info {
		padding: 10px 0px;
		text-align: center;
	}

	.banner-info p {
		text-justify: left;
		text-align: justify;
	}

	.banner-image {
		justify-content: center;
	}

	.bigSurImage {
		width: 100%;
	}
}