* {
	font-family: "Roboto", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
}

html {
	font-size: 62.5%; /* font-size 1rem = 10px */
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */

header {
	display: flex;
	background-color: #1F2937;
	padding: 1rem 14rem;
}

.header-logo {
  min-width: 14rem;
}

.header-logo p {
    font-size: 1.5rem;
		font-weight: 600;
    color: #F9FAF8;
}

.header-links-container {
	display: flex;
	align-items: center;
}

.header-link-text {
	min-width: 11rem;
	text-align: right;
  font-size: 1.1rem;
  color: #E5E7EB;
}

/* Banner */

.banner {
    display: flex;
    background-color: #1F2937;
    padding: 7rem 14rem;
}

.banner-info {
    padding-right: 3rem;
}

.banner-info h1 {
    font-size: 3.3rem;
    font-weight: 700;
    color: #F9FAF8;
    margin-bottom: 0;
}

.banner-info p {
    font-size: 1.3rem;
    color: #E5E7EB;
    margin: .2rem;
}

.banner-info button {
		font-size: 1.2rem;
    background-color: #3882F6;
    color: #E5E7EB;
    width: 9rem;
    height: 2.5rem;
    border: 0;
    border-radius: .5rem;
    margin-top: 1rem;
}

.banner-image {
	display: flex;
	align-items: center;
	min-width: 22rem;
	max-width: 55rem;
}

/* middle section */

.middle-section {
	text-align: center;
	padding: 0 18rem 8rem 18rem; 
}

.middle-section h2 {
	font-size: 2.2rem;
	padding: 2.9rem;
}

.middle-section-cards {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-image {
	width: 12vw;
	height: 12vw;
	margin: 0 auto;
	border: 3px solid #3882f6;
	border-radius: 1.1vw;
}

.middle-section-card p {
	width: 12vw;
	margin: 0 auto;
	font-size: 1.2rem;
	font-weight: 300;
	color: #666;
}

/* quote-section */

.quote-section {
	background-color: #e5e7eb;
	padding: 8.5rem 21.5rem 7rem 21.5rem;
}

.quote {
	color: #1f2937;
	font-size: 2.35rem;
	font-weight: 100;
	font-style: italic;
}

.quote-author {
	color: #1f2937;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: right;
	padding-right: 2.7rem;
}

@media screen and (max-width: 600px) {
	header {
		padding: 10px 0px 0px 0px;
		flex-direction: column;
	}

	.header-logo {
		text-align: center;
	}

	.header-links-container {
		flex-direction: column;
		padding: 10px 0px 0px 0px;
	}

	.header-link-text {
		text-align: center;
		padding: 5px;
	}

	.banner {
		flex-direction: column;
		padding: 0px 25px 15px 25px;
		justify-content: center;
	}
	
	.banner-info {
		padding: 10px 0px;
		text-align: center;
	}

	.banner-info p {
		text-align: justify;
	}

	.banner-image {
		justify-content: center;
	}
}